@model List<Post>
@using webMVC.Components;
@using webMVC.Models.Blog

@{
    List<Category>? categories = ViewBag.categories as List<Category>;
    Category? category = ViewBag.category as Category;
    ViewData["Title"] = (category != null) ? category.Title :
    "Bài viết trong tất cả các danh mục";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @if (category != null)
        {
            var list = category.ListParents();
            foreach (var l in list)
            {
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-route-categorySlug="@l.Slug">@l.Title</a>
                </li>
            }
        }
    </ol>
</nav>



<h2>@ViewData["Title"]</h2>
<hr>

@foreach (var post in Model)
{
    <div class="media border-bottom mb-4 pb-3 post-item">
        <img src="/contents/noPhoto.png" class="mr-3 img-thumbnail" alt="Thumbnail">
        <div class="media-body ">
            <h5 class="mt-0">
                <a asp-controller="ViewPost" asp-action="Detail" asp-route-postSlug="@post.Slug"
                    class="text-dark post-title">
                    @post.Title
                </a>
            </h5>

            <p class="text-muted">@post.Description</p>

            <div class="mt-3">
                <i class="fas fa-tags text-primary"></i>
                Chủ đề:
                <strong class="text-danger">
                    @(
                        post.PostCategories?.FirstOrDefault()?.Category?.Title ?? "Chưa có chủ đề"
                        )
                </strong>
            </div>

            <div class="author-row mt-2">
                <i class="fas fa-user text-success"></i>
                Tác giả: <strong>@("nhozxuan" ?? "Ẩn danh")</strong> |
                <i class="fas fa-calendar-alt text-info"></i>
                Ngày cập nhật: <i>@post.DateUpdated.ToShortDateString()</i>
            </div>

            <div class="mt-3">
                <a asp-controller="ViewPost" asp-action="Detail" asp-route-postSlug="@post.Slug"
                    class="btn btn-outline-primary btn-sm">
                    Đọc thêm <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>

}


@section Sidebar {
    @await Component.InvokeAsync("webMVC.Components.CategorySidebar",
        new CategorySidebar.CategorySidebarData()
{
    Categories = categories,
    level = 0,
    categorySlug = ViewBag.categorySlug
})
}


<partial name="_PagingXTL" model="@ViewBag.pagingModel" />