@model ProductModel
@using webMVC.Components

@{
    List<CategoryProduct>? categories = ViewBag.categories as List<CategoryProduct>;
    CategoryProduct? category = ViewBag.category as CategoryProduct;
    ViewData["Title"] = Model.Title;

    IQueryable<ProductModel>? otherProducts = ViewBag.otherProducts as IQueryable<ProductModel>;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @if (category != null)
        {
            var li = category.ListParents();
            foreach (var l in li)
            {
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-route-categorySlug="@l.Slug">@l.Title</a>
                </li>
            }
            <li class="breadcrumb-item">
                <a asp-action="Index" asp-route-categorySlug="@category.Slug">@category.Title</a>
            </li>
        }
    </ol>
</nav>


@if (Model.Photos!.Any())
{
    <div class="d-flex flex-wrap justify-content-between mb-5">
        @foreach (var photo in Model.Photos!)
        {
            <img class="w-25" src="/contents/Products/@photo.FileName" />
        }
    </div>
}

<div class="detail-post">
    <h2>@Model.Title</h2>
    <div class="sapo">
        @Model.Description
    </div>
    <div>
        <p>
            Giá: <strong>@Model.Price</strong>
            <a asp-action="AddToCart" asp-route-productId="@Model.ProductID" class="btn btn-danger">Thêm vào giỏ
                hàng</a>
        </p>
    </div>
    <div>
        <i>Cập nhật: @Model.DateUpdated</i> /
        Tác giả: <strong>@Model.Author!.UserName</strong>
    </div>

    <hr>

    @Html.Raw(Model.Content)

</div>




@section Sidebar {
    @* @await Component.InvokeAsync("webMVC.Components.CategoryProductSidebar",
        new CategoryProductSidebar.CategorySidebarData()
    {
        Categories = categories,
        level = 0,
        categorySlug = category!.Slug
    }) *@
    <div>Video</div>
}
