@using Microsoft.EntityFrameworkCore
@inject AppDbContext dbContext
@using System.Data

<partial name="_MessageNotify"></partial>
@{
    ViewData["Title"] = "Cơ sở dữ liệu";
    var connect = dbContext.Database.GetDbConnection();
    var dbName = connect.Database;
    var can_connect = dbContext.Database.CanConnect();
}



<h2>Thông tin về cơ sở dữ liệu</h2>
<p>- Database: @dbName</p>
<p>- Source: @connect.DataSource</p>
<p>- State: @connect.State</p>
<hr>
<h2>Migrations</h2>
@foreach (var migration in dbContext.Database.GetAppliedMigrations())
{
    <p>@migration</p>
}
@foreach (var migration in dbContext.Database.GetPendingMigrations())
{
    <p>@migration (pending)</p>
}

@if (dbContext.Database.GetPendingMigrations().Any())
{
    <form method="post">
        <button class="btn btn-success" asp-action="Migrate">Tạo Db (Cập nhật migration)</button>
    </form>

}

@if (can_connect)
{
    <h2>Các Table</h2>
    await dbContext.Database.OpenConnectionAsync();
    var table = dbContext.Database.GetDbConnection().GetSchema("Tables");
    <ul>
        @foreach (System.Data.DataRow row in table.Rows)
        {
            <li>@row["TABLE_NAME"]</li>
        }
    </ul>
    @* <a class = "btn btn-danger" asp-action="DeleteDb">Xóa Db:  @dbName</a> *@
    <a class="btn btn-success" asp-action="SeedData">Seed Data</a>
}
@if (!can_connect)
{
    <p class="alert alert-warning">Không có khả năng kết nối đến Database</p>
}