@using webMVC.Components
@model webMVC.Components.CategoryProductSidebar.CategorySidebarData
@{
    int level = Model.level;
}
@if (Model.Categories!.Count > 0)
{
    @if (level == 0)
    {
        @Html.Raw("<div class=\"categorySidebar\">")
        ;
        <h3><a asp-controller="ViewProduct" asp-action="Index" asp-route-categorySlug="">
                Danh mục sản phẩm
            </a>
        </h3>
    }
    <ul>
        @foreach (var category in Model.Categories)
        {
            var cssActive = (category.Slug == Model.categorySlug) ? "active" : null;
            <li>
                <a class="@cssActive" asp-controller="ViewProduct" asp-action="Index" asp-route-categorySlug="@category.Slug">
                    @category.Title
                </a>
                @if (category.CategoryChildren?.Count > 0)
                {
                    @await Component.InvokeAsync("webMVC.Components.CategoryProductSidebar",
                             new CategoryProductSidebar.CategorySidebarData()
        {
            Categories = category.CategoryChildren.ToList(),
            level = level + 1,
            categorySlug = ViewBag.categorySlug
        })
                }
            </li>
        }
    </ul>
    @if (level == 0)
    {
        @Html.Raw("</div>")
        ;
    }
}